@import url(./__button/header__button.css);
@import url(./__logo/header__logo.css);

.header {
    display: flex;
    flex-direction: row;
    color: #fffffe;
    width: 100%;
    max-width: 75%;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #fffffe;
    font-family: 'Inter';
}
